@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: black;
}

::placeholder {
  color: rgb(255, 255, 255);
  opacity: 1;
}

.bgmi-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.bgmi-navbar a {
  position: relative;
  font-size: 16px;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.bgmi-navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e4e4e4;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.bgmi-navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

.bgmi-background {
  width: 100%;
  height: 100vh;
  background: url('./images/bgmi10.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  filter: blur(10px);
}

.bgmi-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  height: 620px;
  background: url('./images/bgmi10.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-top: 20px;
}

.bgmi-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 58%;
  height: 100%;
  background: transparent;
  padding: 80px;
  color: #e4e4e4;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.bgmi-logo {
  font-size: 30px;
}

.bgmi-esports h2 {
  font-family: 'Sportypo Reguler', sans-serif;
  color: white;
  font-size: 30px;
}

.bgmi-text-sci h2 {
  font-size: 40px;
  line-height: 1;
}

.bgmi-text-sci h2 span {
  font-size: 20px;
}

.bgmi-text-sci p {
  font-size: 16px;
  margin: 20px 0;
}

.bgmi-social-icons a i {
  font-size: 22px;
  color: #e4e4e4;
  margin-right: 10px;
  transition: 0.5s ease;
}

.bgmi-social-icons a:hover i {
  transform: scale(1.2);
}

.bgmi-logreg-box {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100% - 58%);
  height: 100%;
  overflow: hidden;
}

.bgmi-form-box {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: transparent;
  backdrop-filter: blur(20px);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.bgmi-login {
  transform: translateX(0);
  transition: transform 0.6s ease;
  transition-delay: 0.7s;
}

.bgmi-logreg-box.active .bgmi-login {
  transform: translateX(430px);
  transition-delay: 0s;
}

.bgmi-form-box h2 {
  font-size: 32px;
  text-align: center;
}

.bgmi-input-box {
  position: relative;
  width: 340px;
  height: 50px;
  border-bottom: 2px solid #e4e4e4;
  margin: 30px 0;
}

.bgmi-input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  padding-right: 28px;
}

.bgmi-icon {
  position: absolute;
  top: 13px;
  right: 0;
  font-size: 19px;
}

.bgmi-btn {
  width: 100%;
  height: 45px;
  background: #c4103d;
  border: none;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  color: #e4e4e4;
  font-weight: 500;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.bgmi-btn:hover {
  background: #e0144c;
  transform: scale(1.03);
  transition: 0.3s;
}

/* Responsive Fix */
@media only screen and (max-width: 480px) {
  .bgmi-header {
    padding: 25px 5%;
  }

  .bgmi-container {
    width: 90%;
    margin-top: 40px;
  }

  .bgmi-content {
    width: 100%;
    padding: 50px;
    text-align: center;
  }

  .bgmi-logreg-box {
    display: none;
  }
}

@media only screen and (min-width: 481px) and (max-width: 768px) {
  .bgmi-header {
    padding: 25px 8%;
  }
}

@media only screen and (min-width: 769px) {
  .bgmi-header {
    padding: 25px 12.5%;
  }
}
