/* ===========================
   Free Fire Rules Scoped Styling
   =========================== */
body {
  padding: 0;
  margin: 0;
  background-color: #130d0a;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}

/* ===== HERO SECTION ===== */
#free-rules-hero {
  height: 800px;
  overflow: hidden;
  position: relative;
}

#free-rules-content {
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: #130d0a;
}

/* ===== HEADER ===== */
.free-rules-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 25px 12.5%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

/* ===== NAVBAR ===== */
.free-rules-navbar a {
  position: relative;
  font-size: 16px;
  color: #e4e4e4;
  text-decoration: none;
  font-weight: 500;
  margin-right: 30px;
}

.free-rules-navbar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #e4e4e4;
  border-radius: 5px;
  transform: translateY(10px);
  opacity: 0;
  transition: 0.5s;
}

.free-rules-navbar a:hover::after {
  transform: translateY(0);
  opacity: 1;
}

/* ===== PARALLAX LAYERS ===== */
.free-rules-layer {
  background-position: bottom center;
  background-size: auto;
  background-repeat: no-repeat;
  width: 100%;
  height: 800px;
  position: fixed;
  z-index: -1;
}

#free-rules-hero .free-rules-layer {
  min-height: 800px;
  max-width: 1900px;
  margin: 0 auto;
  overflow: hidden;
}

/* ===== MOBILE HERO ===== */
#free-rules-hero-mobile {
  display: none;
  background: url("./images/cabbit.jpg") no-repeat center bottom/cover;
  height: 320px;
}

/* ===== SECTIONS ===== */
.free-rules-section {
  padding: 50px 0 20px 0;
}

.free-rules-text-header {
  font-size: 50px;
  text-align: center;
}

.free-rules-section h1 {
  font-size: 32px;
  text-align: center;
  line-height: 120%;
  margin-bottom: 30px;
}

.free-rules-section p {
  justify-content: center;
  text-align: left;
  color: #ede0d5;
  font-size: 19px;
  line-height: 180%;
  margin-left: 10%;
  margin-right: 10%;
}

/* ===== BACKGROUND IMAGES ===== */
.free-rules-layer-bg {
  background-image: url("./images/free4.jpg");
}

.free-rules-layer-1 {
  background-image: url("");
  background-position: left bottom;
}

.free-rules-layer-2 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_02.png");
}

.free-rules-layer-3 {
  background-image: url("./images/hmr.png");
  background-position: right bottom;
}

.free-rules-layer-4 {
  background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/272781/ilu_01.png");
}

.free-rules-layer-overlay {
  background-image: url("");
}

/* ===== RESPONSIVE ===== */
@media only screen and (max-width: 768px) {
  #free-rules-hero {
    display: none;
  }

  #free-rules-hero-mobile {
    display: block;
  }
}

/* ===== LINKS ===== */
.free-rules-tutorial-link {
  color: #fff;
  font-size: 18px;
  text-decoration: underline;
}

.free-rules-tutorial-link:hover {
  color: #ede0d5;
}
